<div *ngIf="openMenu" [ngClass]="{'mobileMenu': openMenu}">
    <div>
        <i 
            *ngIf="openMenu" 
            (click)="toggleMenu()" 
            class='bx bx-x bx-lg menu-close' 
            style="color: rgb(31, 31, 31)"></i>
    </div>
    <ul>
        <li><a>My cart</a></li>
        <li><a [routerLink]="['/bags']">Bags</a></li>
        <li><a [routerLink]="['/cosmetics']">Makeup</a></li>
        <li><a [routerLink]="['/clothing']">Clothing</a></li>
        <li><a [routerLink]="['/accessories']">Accessories</a></li>
        <li><a [routerLink]="['/about-us']">About us</a></li>
        <li><a [routerLink]="['/contact']">Contact</a></li>
        <!-- <li *ngIf="isLogin" [routerLink]="['/auth/logout']"><a>Logout</a></li>
        <li [routerLink]="['/auth/login']"><a>Login</a></li> -->

        <li *ngIf="isLogin; else notLoggedIn"><a (click)="logout()">Logout</a></li>
        <ng-template #notLoggedIn><li><a [routerLink]="['/auth/login']">Login</a></li></ng-template>
        
        <li *ngIf="isUserAuthenticated" [routerLink]="['/create']"><a>Create Product</a></li>

        
    </ul>
</div>

<div class="nav-bar" >
    <div class="nav-bar-logo" [routerLink]="['/']">
        <img class="logo-img" src="https://ik.imagekit.io/bprw8mk45/products/a%CC%82__Pngtreea%CC%82__creative_company_logo_1197025_LuZ_u5Kgi.png?ik-sdk-version=javascript-1.4.3&updatedAt=1663302070049" alt="">
    </div>
   
    <ul class="menu-items">
        <li><a>My cart</a></li>
        <li [routerLink]="['/bags']"><a>Bags</a></li>
        <li [routerLink]="['/cosmetics']"><a>Makeup</a></li>
        <li [routerLink]="['/clothing']"><a>Clothing</a></li>
        <li [routerLink]="['/accessories']"><a>Accessories</a></li>
        <li [routerLink]="['/about-us']"><a>About us</a></li>
        <li [routerLink]="['/contact']"><a >Contact</a></li>
        <li *ngIf="isLogin; else notLoggedIn"><a (click)="logout()">Logout</a></li>
        <ng-template #notLoggedIn><li [routerLink]="['/auth/login']"><a>Login</a></li></ng-template>
        
        <li *ngIf="isUserAuthenticated" [routerLink]="['/create']"><a>Create Product</a></li>
    </ul>

    <div class="nav-bar-menu" (click)="toggleMenu()">
        <i class='bx bx-menu bx-lg' style='color: white'></i>
    </div>
</div>