<!-- <div class="nav-bar">
    <div class="nav-bar-cart">
        <i class='bx bx-cart bx-sm'></i>
    </div>
    <div class="nav-bar-logo">
        LOGO
    </div>
    <div class="nav-bar-menu">
        <i class='bx bx-menu bx-sm'></i>
    </div>
</div>
 -->

 <app-navbar></app-navbar>


 <div class="header">
     <h2 class="collection-header">About Us</h2>
     <i class='bx bxs-chevron-down-circle bx-lg'></i>
 </div>
 

 <div class="desktop-view">
 
     <div class="lang-img-container">
         <img class="land-img"
             src="https://ik.imagekit.io/2wqbt8w6k/banner.jpg?updatedAt=1692756309170"
             alt="">
     </div>
 
     <div class="product-list-container">
        <p class="content">Founded in Florence, Italy, in 1921, Gucci is one of the world’s leading luxury brands. Following the House’s centenary, Gucci forges ahead continuing to redefine luxury while celebrating creativity, Italian craftsmanship, and innovation.

          Gucci is part of the global luxury group Kering, which manages renowned Houses in fashion, leather goods, jewelry, and eyewear.
          
          Discover the stories behind the House's collections, exclusively on Stories</p>
     </div>
 
 </div>
 



