<!-- <div class="nav-bar">
    <div class="nav-bar-cart">
        <i class='bx bx-cart bx-sm'></i>
    </div>
    <div class="nav-bar-logo">
        LOGO
    </div>
    <div class="nav-bar-menu">
        <i class='bx bx-menu bx-sm'></i>
    </div>
</div>
 -->

<app-navbar></app-navbar>


<div class="header">
  <h2 class="collection-header">About Us</h2>
  <i class='bx bxs-chevron-down-circle bx-lg'></i>
</div>


<div class="desktop-view">
  <table style="width:100%">
    <tr>
      <th>Inquiries about Gucci website or online purchases</th>
      <th></th>
    </tr>
    <tr>
      <td>PHONE
        Our Client Advisors are available Monday through Saturday, 9:00AM - 12:00AM (EST) and Sunday, 9:00AM - 10:00PM
        (EST), excluding holidays.</td>
      <td><button>CALL US AT‎ +1.877.482.2430</button>
      </td>
    </tr>
    <tr>
      <td>LIVE CHAT
        Our Client Advisors are available to chat Monday through Saturday, 9:00AM - 11:00PM (EST) and Sunday, 10:00AM -
        8:00PM (EST), excluding holidays. The option to chat will become active during these hours once an advisor is
        available.
      </td>
      <td> <button>CHAT UNAVAILABLE</button></td>
    </tr>

    <tr>
      <td>WHATSAPP US
        Our Client Advisors are available to answer your WhatsApp messages
        Monday through Saturday, 9:00AM - 8:00PM EST,
        and Sunday 10:00AM – 7:00PM EST, excluding holidays.
      </td>
      <td><button>MESSAGE US</button></td>
    </tr>

    <tr>
      <td>EMAIL
        To reach our online Client Advisors by email, click "email us" to provide details and your contact information.
      </td>
      <td><button>EMAIL US</button></td>
    </tr>
  </table>

</div>