
.logo-img {
  width: 30px;
  margin: .3rem;
}

.collection-header {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

.header {
  margin-top: 1rem;
  text-align: center;
}

.banner {
  max-width: 100%;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  margin-left: 1rem;
}

.btn {
  font-weight: 700;
  color: rgb(154, 152, 152);
}

.btn:hover {
  color: black;
  cursor: pointer;
}

.product-img {
  width: 140px;
  margin: 0 auto;
}

.product-list {
  display: flex;
  flex-direction: column;
  height: 180px;
  width: 180px;
  background-color: rgb(230, 229, 229);
  justify-content: center;
  margin: .5rem;
}

.product-list-text {
  margin: 0 auto;
  font-weight: 400;
}


.product-list-container {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  margin-top: 2rem;
}



@media screen and (min-width: 768px) {
  .btn-container {
      display: none;
  }

  .product-list-container {
      justify-content: space-around;
  }
}
